div {
  white-space: pre-wrap;
  font-family: 'bbksong', monospace;
  font-size: 1.33em;
  line-height: 2;
  padding: 1em;
  color: #333;
  margin: 1em;
  border-radius: 1em;
  box-shadow: #ccc 0px 0px 1em;
  max-width: 854px;
  margin: 1em auto;
}

.header,
.footer {
  height: 3em;
  text-align: center;
}

.header>h1 {
  font-size: 1.5em;
  margin: 0;
}

.page {
  height: calc(100vh - 16em);
  overflow: auto;
}

p {
  text-indent: 2em;
  margin: 0;
}

img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  max-height: 50vh;
}

p>img {
  margin: 0;
  display: inline-block;
}

.footer>a {
  color: #00395a;
  text-decoration: none;
  display: inline-block;
  margin: 0 1em;
  background-color: #00ceff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.footer>a:hover {
  color: #a54900;
  background-color: #ffe33a;
}

.footer>a:active {
  color: #fff;
  background-color: #ef313a;
}